<h3>Welcome back, <%= current_user.username %>! </h3> 



<% if current_user.journeys.count == 0 %>
    <h4> You need to add some Journeys! </h4>
<% end %>
<h2> Here are your Journeys ranked by length, in descending order so far: </h2>
    <% Journey.ranked_miles.each do |j| %>
        <% if j.user_id == current_user.id  %>
            <ul>
                <h3><%= link_to j.title, journey_path(j) %> - <%= j.miles %> Miles </h3>
            </ul>
        <% end %>
    <% end %>

<%= button_to "Add a new Journey", new_journey_path, method: :get %> 
<br>
<br>
<%= button_to "See other Users' Journeys", journeys_path, method: :get %>
<br>
<br>
<%= button_to "Account Settings", edit_user_path, method: :get %>
<br>
<%= button_to "See Journeys you have commented on", commented_journeys_path(@user), method: :get %>
<br>
<%= button_to "Log Out", logout_path, method: 'delete' %>

