<h3>Welcome back <%= current_user.username %></h3>

<%= link_to "Add a new Journey", new_journey_path %>
<%=link_to  "See other Users' Journeys", journeys_path %>
<%=link_to "Account Settings", edit_user_path %>
<%= link_to "Journeys in Desc Order", >
<br>
<%=link_to "Log Out", logout_path, method: 'delete' %>