<%= @journeys.each do |j| %>
   <p>Title: <%= j.title %></p>
   <p>Date: <%= j.date %> </p>
   <p>Miles: <%= j.miles %></p>
   <p>Location: <%= j.location %></p>
   <p>Description: <%= j.description %></p>
   <br>
<% end %>