<% if logged_in? %>
    <h3 style="color:red;"><%= link_to  "New Post", new_journey_path, method: :get %> || <%= link_to 'Logout', logout_path, method: :delete %> || <%= link_to 'Your Profile', user_path(current_user), method: :get %></h3>
<% else %>
    <%= link_to  "Return", "/welcome" , method: :get %>
<% end %>
<br>
<br>
<br>
<h3> Welcome <%= current_user.username %>!</h3>
<h5><%= flash[:error] %></h5>
<h3>Your Journeys thus far:</h3>
<br>
<% if logged_in? %>
    <% if current_user.journeys.count == 0 %>
        <h4> You have not written any posts yet </h4>
    <% end %>
<% end %>
    <% if logged_in? %>
        <% current_user.journeys.each do |journey| %>
            <ul>
                <h3><%= link_to "#{journey.title}", journey_path(journey) %></h3>
            </ul>
        <% end %>
    <% end %>
<br>
<br>
<h3 style="color:orange;">Other Drifters' Journeys ranked by length! </h3>
<br>
<% Journey.deleted_user %>
    <% Journey.ranked_miles.each do |j| %>
        <% if j.user_id != current_user.id  %>
            <ul>
                <h3><%= link_to j.title, journey_path(j) %> - <%= j.miles %> Miles </h3>
                    <h4>User: <%= User.find(j.user_id).username %></h4>
            </ul>
        <% end %>
    <% end %>
<br>
<br>
<h3> © 2020 DrifterHub <h3>
