</h1> create your journey here </h1>

<%= form_for @journey do |f| %>
    <br>
    <%= f.label 'title' %>
    <br>
    <%= f.text_field :title %>
    <br>
    <%= f.label 'date' %>
    <br>
    <%= f.text_field :date %>
    <br>
    <%= f.text_field :miles %>
    <br>
    <%= f.text_field :location %>
    <br>
    
    <%= f.submit "Create Account" %>
<% end %>
<br>
<%= button_to "Log In", "/login", method: :get %>



(:title, :date, :miles, :location, :description, :user_id)