<h1>The Journey:</h1>

<h2><i><%= @journey.title %></i></h2>

<h3>Date: <%= @journey.date %></h3>

<h3>Miles: <%= @journey.miles  %></h3>

<h3>Location: <%= @journey.location %></h3>

<p><b>Description:</b> <%= @journey.description%> </p></br>


<br>
<% if !logged_in? %>
    <br>
    <%= button_to 'Add Comment', new_journey_comment_path(@journey), method: :get %>
    <br>
    <% if owned_by_user?(@journey)%>
        <%= button_to 'Delete Journey', journey_path(@journey), method: :delete %>
        <br>
        <%= button_to 'Edit Journey', edit_journey_path(@journey), method: :get %>
    <% end %>
    <br>
    <%= button_to 'Return to Profile', user_path(current_user), method: :get %>
<% else %>
    <%= button_to 'Return', "/", method: :get %>
    <br>
<% end %>