
    <h1><%= @journey.title %></h1>
    <h3>Date: <%= @journey.date%>
    <h3> Miles: <%= @journey.miles%> 
    <h3>Location: <%= @journey.location %></h3>
    <h2> Description: <%= @journey.description %></h2>
    <br>
    <p>Post created by: <h3><%= @journey.user.username %></h3></p>
    
<br>
<% if logged_in? %>
    <br>
    <%= button_to 'Add Comment', new_journey_comment_path(@journey), method: :get %>
    <br>
    <%= button_to 'Comments Thread', journey_comments_path(@journey), method: :get %>
    <br>
    <% if owned_by_user?(@journey)%>
        <%= button_to 'Delete Journey', journey_path(@journey), method: :delete %>
        <br>
        <%= button_to 'Edit Journey', edit_journey_path(@journey), method: :get %>
    <% end %>
    <br>
    <%= button_to 'Return to Home', journeys_path, method: :get %>
    <br> 
<% else %>
    <%= button_to 'Return', "/", method: :get %>
    <br>
<% end %>