
    <h1><%= @journey.title %></h1>
    <h3>Date: <%= @journey.date%>
    <h3> Miles: <%= @journey.miles%> 
    <h3>Location: <%= @journey.location %></h3>
    <h2> Description: <%= @journey.description %></h2>
    <br>
    <p>Post created by: <h3><%= @journey.user.username %></h3></p>
        <% unless @journey.comments.count == 0 %>
            <fieldset>
                <legend><h4>Comments:</h4></legend>   
                    <% @journey.comments.each do |comment| %>
                        <% if comment.user != nil %>
                            <br>
                                <ul>
                                    <li><p><%= comment.content %> by <%= comment.user.username %></p></li>
                                </ul>
                        <% end%>
                    <% end %>
                </fieldset>
        <% end %> 
<br>
<% if !logged_in? %>
    <br>
    <%= button_to 'Add Comment', new_journey_comment_path(@journey), method: :get %>
    <br>
    <%= button_to 'Comments Thread', journey_comments_path(@journey), method: :get %>
    <br>
    <% if owned_by_user?(@journey)%>
        <%= button_to 'Delete Journey', journey_path(@journey), method: :delete %>
    <% end %>
    <br>
    <%= button_to 'Return to Home', journeys_path, method: :get %>
    <br> 
<% else %>
    <%= button_to 'Return', "/", method: :get %>
    <br>
<% end %>